/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 4, ../sass/print.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/print.scss */
body {
  margin: 0;
  padding: 0;
  font-family: arial;
}

/* line 14, ../sass/print.scss */
#wrapper {
  overflow: hidden;
}
/* line 21, ../sass/print.scss */
#wrapper #header-mobile .navbar {
  background: #d71149;
  border: none;
  padding: 0;
}
/* line 27, ../sass/print.scss */
#wrapper #header-mobile .navbar-header img {
  width: 100%;
}
/* line 30, ../sass/print.scss */
#wrapper #header-mobile .navbar-header .logo {
  margin-top: 15px;
}
/* line 34, ../sass/print.scss */
#wrapper #header-mobile .navbar-toggler {
  padding: 13px 0;
}
/* line 36, ../sass/print.scss */
#wrapper #header-mobile .navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #fff;
  margin-bottom: 5px;
}
/* line 47, ../sass/print.scss */
#wrapper #header-mobile #navbar ul li {
  padding: 10px 0;
}
/* line 49, ../sass/print.scss */
#wrapper #header-mobile #navbar ul li a {
  color: #fff;
}
/* line 55, ../sass/print.scss */
#wrapper #header-mobile .form-inline {
  position: relative;
  margin-top: 7px;
}
/* line 58, ../sass/print.scss */
#wrapper #header-mobile .form-inline input {
  background: transparent;
  width: 100% !IMPORTANT;
  margin-left: 0 !important;
}
/* line 63, ../sass/print.scss */
#wrapper #header-mobile .form-inline .fa-search {
  top: 30%;
  position: absolute;
  right: 10px;
  color: #fff;
}
/* line 70, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list {
  margin-top: 15px;
  display: inline-block;
}
/* line 73, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul {
  padding: 0;
  margin: 0;
}
/* line 76, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul .search {
  margin-top: 3px;
}
/* line 79, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li {
  float: left;
  position: relative;
  list-style: none;
  margin-right: 15px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  /* line 79, ../sass/print.scss */
  #wrapper #header-mobile .shop-act-list ul li {
    margin-right: 10px;
  }
}
/* line 88, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li:last-child {
  margin-right: 0;
}
/* line 91, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li .fa-search {
  top: 30%;
  position: absolute;
  right: 10px;
  color: #fff;
}
/* line 97, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li .count {
  position: absolute;
  background: #ffc53e;
  color: #333;
  font-size: 8px;
  top: -5px;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  text-align: center;
}
/* line 109, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li .cart {
  position: relative;
}
/* line 112, ../sass/print.scss */
#wrapper #header-mobile .shop-act-list ul li .notif {
  position: relative;
}
/* line 118, ../sass/print.scss */
#wrapper #header-mobile .banner-mobile {
  margin-top: 50px;
}
/* line 121, ../sass/print.scss */
#wrapper #header-mobile .banner-mobile .img img {
  width: 100%;
  object-fit: cover;
}
/* line 129, ../sass/print.scss */
#wrapper #top {
  background: #c30f42;
  height: 30px;
  line-height: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 133, ../sass/print.scss */
  #wrapper #top .top-cols {
    font-size: 12px;
  }
}
/* line 138, ../sass/print.scss */
#wrapper #top .top-cols .left .cols {
  margin-left: 20px;
}
/* line 140, ../sass/print.scss */
#wrapper #top .top-cols .left .cols a {
  padding-left: 20px;
  color: #fff;
}
/* line 145, ../sass/print.scss */
#wrapper #top .top-cols .left .tlp {
  background: url(../img/ico-tlp.png) no-repeat left;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 145, ../sass/print.scss */
  #wrapper #top .top-cols .left .tlp {
    margin-left: 10px;
  }
}
/* line 151, ../sass/print.scss */
#wrapper #top .top-cols .left .email {
  background: url(../img/ico-mail.png) no-repeat left;
  margin-left: 0;
}
/* line 156, ../sass/print.scss */
#wrapper #top .top-cols .right {
  text-align: right;
}
/* line 158, ../sass/print.scss */
#wrapper #top .top-cols .right .cols {
  margin-right: 15px;
}
/* line 160, ../sass/print.scss */
#wrapper #top .top-cols .right .cols:last-child {
  padding-left: 20px;
}
/* line 164, ../sass/print.scss */
#wrapper #top .top-cols .right .maps {
  background: url(../img/ico-location.png) no-repeat left;
}
/* line 166, ../sass/print.scss */
#wrapper #top .top-cols .right .maps a {
  padding-left: 20px;
}
/* line 171, ../sass/print.scss */
#wrapper #top .top-cols .cols {
  display: inline-block;
  font-size: 12px;
}
/* line 174, ../sass/print.scss */
#wrapper #top .top-cols .cols a {
  color: #fff;
}
/* line 177, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-toggle {
  background: transparent;
  border: none;
  padding: 0;
}
/* line 181, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-toggle img {
  float: left;
  margin-top: 5px;
}
/* line 185, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-toggle .txt {
  float: left;
  line-height: 8px;
  margin: 7px 5px;
  font-size: 12px;
}
/* line 191, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-toggle .caret {
  color: #666;
  float: left;
  margin-top: 2px;
}
/* line 197, ../sass/print.scss */
#wrapper #top .top-cols .cols .dropdown-menu {
  min-width: 70px;
}
/* line 204, ../sass/print.scss */
#wrapper #header {
  background: #d71149;
  padding: 10px;
}
/* line 208, ../sass/print.scss */
#wrapper #header .logo img {
  width: 100%;
}
/* line 214, ../sass/print.scss */
#wrapper #header .cat {
  text-align: right;
}
/* line 217, ../sass/print.scss */
#wrapper #header .cat .dropdown button {
  border: none;
  background: url(../img/bg-cat.png) no-repeat left;
  padding-left: 25px;
  text-transform: uppercase;
}
/* line 222, ../sass/print.scss */
#wrapper #header .cat .dropdown button:after {
  display: none;
}
/* line 229, ../sass/print.scss */
#wrapper #header .search-top .form-inline {
  position: relative;
  background: #fff;
  font-size: 12px;
  border: 1px solid #cccccc;
}
/* line 234, ../sass/print.scss */
#wrapper #header .search-top .form-inline input {
  border: none;
  background: none;
  width: 68%;
  padding-left: 30px;
}
/* line 240, ../sass/print.scss */
#wrapper #header .search-top .form-inline .bootstrap-select {
  width: 140px;
}
@media screen and (max-width: 768px) {
  /* line 240, ../sass/print.scss */
  #wrapper #header .search-top .form-inline .bootstrap-select {
    width: 70px;
  }
}
/* line 245, ../sass/print.scss */
#wrapper #header .search-top .form-inline .bootstrap-select .selectpicker {
  background: none;
}
/* line 248, ../sass/print.scss */
#wrapper #header .search-top .form-inline .bootstrap-select .dropdown-toggle {
  background: none;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0;
  padding: 0 10px;
  color: #666;
}
/* line 258, ../sass/print.scss */
#wrapper #header .search-top .form-inline .search-btn {
  position: absolute;
  left: 10px;
  top: 10px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}
/* line 270, ../sass/print.scss */
#wrapper #header .top-right {
  padding-top: 10px;
}
/* line 272, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list {
  border-left: 1px solid #c30f42;
  border-right: 1px solid #c30f42;
  text-align: right;
}
@media screen and (min-width: 568px) and (max-width: 1024px) {
  /* line 272, ../sass/print.scss */
  #wrapper #header .top-right .shop-act-list {
    max-width: 100% !IMPORTANT;
    width: 100%;
    flex: none;
  }
}
@media screen and (min-width: 1200px) {
  /* line 272, ../sass/print.scss */
  #wrapper #header .top-right .shop-act-list {
    margin-left: 35px;
  }
}
/* line 284, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul {
  padding: 0;
  margin: 0;
}
/* line 287, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li {
  float: left;
  position: relative;
  list-style: none;
  margin-right: 15px;
  cursor: pointer;
}
/* line 293, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li:last-child {
  margin-right: 0;
}
/* line 296, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .count {
  position: absolute;
  background: #ffc53e;
  color: #333;
  font-size: 8px;
  top: -5px;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  text-align: center;
}
/* line 308, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart {
  position: relative;
}
/* line 310, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart:after {
  display: none;
}
/* line 313, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 {
  display: none;
  width: 275px;
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 9;
  background: #fff;
  box-shadow: 1px 1px 1px 3px #b0b0b070;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 313, ../sass/print.scss */
  #wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 {
    left: -200px;
  }
}
/* line 326, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li {
  float: none;
  margin: 0;
  position: relative;
  padding: 8px 30px;
  margin: 10px 20px;
  border-bottom: 1px solid #b0b0b070;
}
/* line 333, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li:nth-child(1) {
  background: url(../img/top-cart.png) no-repeat left;
}
/* line 336, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li:nth-child(2) {
  background: url(../img/top-chat.png) no-repeat left;
}
/* line 339, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li:nth-child(3) {
  background: url(../img/top-user.png) no-repeat left;
  border: none;
}
/* line 343, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li a {
  color: #999;
}
/* line 346, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 ul li span {
  position: absolute;
  right: 10px;
  font-weight: bold;
}
/* line 354, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product {
  padding: 10px;
  font-size: 12px;
  text-align: left;
}
/* line 358, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product.ganjil {
  background: #f5f5f5;
}
/* line 361, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product .title {
  color: #666;
}
/* line 364, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product .price {
  color: #333;
}
/* line 369, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .txt {
  text-align: left;
  padding: 20px 10px;
  color: #999;
}
/* line 374, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .subtotal {
  padding: 20px 10px;
  color: #999;
}
/* line 377, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .subtotal .total {
  font-weight: bold;
  color: #333;
}
/* line 383, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product {
  padding: 10px;
  font-size: 12px;
  border-bottom: 1px solid #eee;
}
/* line 387, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product img {
  width: 100%;
}
/* line 390, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product.ganjil {
  background: #f5f5f5;
}
/* line 393, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product .title {
  color: #666;
}
/* line 396, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .cart .dropdown-menux2 .product-list .product .price {
  color: #333;
}
/* line 403, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif {
  position: relative;
}
/* line 405, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif:after {
  display: none;
}
/* line 408, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux {
  display: none;
  width: 275px;
  position: absolute;
  left: -100px;
  top: 40px;
  z-index: 9;
  background: #fff;
  box-shadow: 1px 1px 1px 3px #b0b0b070;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 408, ../sass/print.scss */
  #wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux {
    left: -200px;
  }
}
/* line 421, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li {
  float: none;
  text-align: left;
  margin: 0;
  position: relative;
  padding: 8px 30px;
  margin: 10px 20px;
  border-bottom: 1px solid #b0b0b070;
}
/* line 429, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li:nth-child(1) {
  background: url(../img/top-cart.png) no-repeat left;
}
/* line 432, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li:nth-child(2) {
  background: url(../img/top-chat.png) no-repeat left;
}
/* line 435, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li:nth-child(3) {
  background: url(../img/top-user.png) no-repeat left;
  border: none;
}
/* line 439, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li a {
  color: #999;
}
/* line 442, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux ul li span {
  position: absolute;
  right: 10px;
  font-weight: bold;
}
/* line 450, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product {
  padding: 10px;
  font-size: 12px;
}
/* line 453, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product.ganjil {
  background: #f5f5f5;
}
/* line 456, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product .title {
  color: #666;
}
/* line 459, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product .price {
  color: #333;
}
/* line 464, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .txt {
  padding: 20px 10px;
  color: #999;
}
/* line 468, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .subtotal {
  padding: 20px 10px;
  color: #999;
}
/* line 471, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .subtotal .total {
  font-weight: bold;
  color: #333;
}
/* line 477, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product {
  padding: 10px;
  font-size: 12px;
  border-bottom: 1px solid #eee;
}
/* line 481, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product img {
  width: 100%;
}
/* line 484, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product.ganjil {
  background: #f5f5f5;
}
/* line 487, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product .title {
  color: #666;
}
/* line 490, ../sass/print.scss */
#wrapper #header .top-right .shop-act-list ul li .notif .dropdown-menux .product-list .product .price {
  color: #333;
}
/* line 501, ../sass/print.scss */
#wrapper #header .top-right .user-act-list {
  text-align: right;
}
@media screen and (max-width: 768px) {
  /* line 501, ../sass/print.scss */
  #wrapper #header .top-right .user-act-list {
    display: none;
  }
}
/* line 506, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul {
  display: inline-block;
  padding: 0;
  margin: 0;
}
/* line 510, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul li {
  list-style: none;
  float: left;
  margin-top: -5px;
}
/* line 516, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop {
  position: absolute;
  background: #fff;
  left: -200px;
  z-index: 9;
  width: 350px;
  padding: 20px;
  border-color: #ececec;
}
/* line 524, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop .flexo {
  padding: 0 20px;
}
/* line 526, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop .flexo .right {
  font-size: 12px;
}
/* line 530, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop .input-group-btn {
  position: absolute;
  right: 0;
}
/* line 533, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop .input-group-btn button {
  border: none;
  background: none;
  color: #333;
}
/* line 539, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop .login-btn {
  background: #c81423;
  color: #fff;
  width: 100%;
  border-radius: 25px;
}
/* line 545, ../sass/print.scss */
#wrapper #header .top-right .user-act-list ul .sign .formpop input {
  border-radius: 25px;
}
/* line 556, ../sass/print.scss */
#wrapper #menus-wrapper .bg-kategori {
  padding-right: 0;
}
/* line 558, ../sass/print.scss */
#wrapper #menus-wrapper .bg-kategori h5 {
  background: #c81423 url(../img/burger-menu.png) no-repeat 8%;
  color: #fff;
  height: 45px;
  padding: 15px 50px;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  /* line 558, ../sass/print.scss */
  #wrapper #menus-wrapper .bg-kategori h5 {
    padding: 15px 0px 15px 50px;
  }
}
/* line 570, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul {
  padding: 20px 0 0;
  margin: 0;
}
/* line 573, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul li {
  list-style: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}
/* line 579, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul li a {
  color: #333;
  text-decoration: none;
}
/* line 582, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul li a:hover {
  color: #c81423;
}
/* line 586, ../sass/print.scss */
#wrapper #menus-wrapper .menus ul li .active {
  color: #c81423;
}
/* line 594, ../sass/print.scss */
#wrapper #banner-wrapper {
  background: #f5f5f5;
}
/* line 596, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper {
  padding-right: 0;
}
/* line 598, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category {
  background: #fff;
  height: 342px;
  padding: 20px 0;
}
/* line 602, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul {
  padding: 0;
  margin: 0;
}
/* line 605, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul li {
  list-style: none;
  text-transform: uppercase;
  font-size: 13px;
}
@media screen and (max-width: 768px) {
  /* line 605, ../sass/print.scss */
  #wrapper #banner-wrapper .list-cat-wrapper .list-category ul li {
    font-size: 12px;
  }
}
/* line 612, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul li a {
  padding: 5px 20px;
  display: block;
  color: #757575;
  text-decoration: none;
}
/* line 617, ../sass/print.scss */
#wrapper #banner-wrapper .list-cat-wrapper .list-category ul li a:hover {
  background: #f5f5f5;
  color: #199cb7;
}
/* line 626, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col {
  padding-right: 0;
  padding-left: 0;
}
/* line 630, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col .banner .slidebanner {
  outline: none;
}
/* line 632, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col .banner .slidebanner img {
  width: 100%;
  height: 232px;
  padding-right: 10px;
}
/* line 637, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col .banner .slidebanner .slick-prev {
  outline: none;
  position: absolute;
  z-index: 9;
  background: url(../img/banner-prev.png) no-repeat left;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border: none;
  text-indent: -9999px;
  top: 50%;
  left: 0;
}
/* line 650, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col .banner .slidebanner .slick-next {
  outline: none;
  position: absolute;
  right: 0;
  background: url(../img/banner-next.png) no-repeat left;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border: none;
  text-indent: -9999px;
  top: 50%;
}
/* line 662, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col .banner .slidebanner .slick-dots {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 668, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col .banner .slidebanner .slick-dots li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
/* line 672, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col .banner .slidebanner .slick-dots li button {
  text-indent: -9999px;
  border: none;
  background: url(../img/dot.png) no-repeat;
  width: 10px;
  height: 10px;
}
/* line 681, ../sass/print.scss */
#wrapper #banner-wrapper .banner-col .banner .slidebanner .slick-dots .slick-active button {
  background: url(../img/dot-active.jpg) no-repeat;
}
/* line 691, ../sass/print.scss */
#wrapper #banner-wrapper .small-banner {
  padding-left: 0;
}
/* line 694, ../sass/print.scss */
#wrapper #banner-wrapper .small-banner .block:first-child {
  margin-bottom: 6px;
}
/* line 697, ../sass/print.scss */
#wrapper #banner-wrapper .small-banner .block img {
  height: 100%;
}
/* line 704, ../sass/print.scss */
#wrapper #content-wrapper {
  background: #f5f5f5;
  padding-top: 50px;
}
/* line 707, ../sass/print.scss */
#wrapper #content-wrapper .columns {
  background: #fff;
  padding: 20px;
  box-shadow: 1px 1px 1px 1px #ccc;
}
@media screen and (max-width: 568px) {
  /* line 707, ../sass/print.scss */
  #wrapper #content-wrapper .columns {
    box-shadow: none;
    padding: 0;
  }
}
/* line 716, ../sass/print.scss */
#wrapper #content-wrapper .menu-after-top {
  margin-bottom: 20px;
}
@media screen and (max-width: 568px) {
  /* line 716, ../sass/print.scss */
  #wrapper #content-wrapper .menu-after-top {
    margin-bottom: 0;
    padding: 20px;
  }
}
/* line 722, ../sass/print.scss */
#wrapper #content-wrapper .menu-after-top h3 {
  font-weight: bold;
  color: #333;
}
@media screen and (max-width: 568px) {
  /* line 722, ../sass/print.scss */
  #wrapper #content-wrapper .menu-after-top h3 {
    font-size: 18px;
  }
}
/* line 730, ../sass/print.scss */
#wrapper #content-wrapper .menu-after-top .more a {
  color: #c81423;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 12px;
}
/* line 740, ../sass/print.scss */
#wrapper #content-wrapper .banner-after-menu {
  margin-bottom: 20px;
}
/* line 745, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .highlight {
  background: url(../img/bg-product-active.jpg) no-repeat !important;
}
/* line 747, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .highlight a {
  color: #fff !Important;
}
/* line 752, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .slide-product .slick-prev {
  outline: none;
  position: absolute;
  z-index: 9;
  background: url(../img/prev.png) no-repeat left;
  width: 24px;
  height: 50px;
  cursor: pointer;
  border: none;
  text-indent: -9999px;
  top: 50%;
  left: -45px;
}
@media screen and (max-width: 568px) {
  /* line 752, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .slide-product .slick-prev {
    left: 0;
  }
}
/* line 768, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .slide-product .slick-next {
  outline: none;
  position: absolute;
  right: -45px;
  background: url(../img/next.png) no-repeat left;
  width: 24px;
  height: 50px;
  cursor: pointer;
  border: none;
  text-indent: -9999px;
  top: 50%;
}
@media screen and (max-width: 568px) {
  /* line 768, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .slide-product .slick-next {
    right: 0;
  }
}
/* line 784, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block {
  background: #fff;
  float: left;
  width: 220px;
  height: 335px;
}
@media screen and (max-width: 768px) {
  /* line 784, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block {
    height: auto;
  }
}
/* line 792, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 20px;
  position: relative;
}
/* line 798, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a:hover {
  box-shadow: 2px 0px 30px 5px #ccc;
}
@media screen and (max-width: 768px) {
  /* line 792, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a {
    padding: 20px 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 792, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a {
    padding: 20px;
  }
}
/* line 807, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .img {
  min-height: 200px;
}
@media screen and (max-width: 480px) {
  /* line 807, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .img {
    display: flex;
    align-items: center;
  }
}
/* line 813, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .img img {
  width: 100%;
}
/* line 817, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .title {
  margin-bottom: 10px;
  color: #666;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 817, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .title {
    padding: 0 10px;
  }
}
/* line 824, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .price {
  color: #c81423;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 824, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .price {
    padding: 0 10px;
  }
}
/* line 830, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .percent {
  color: #999;
  font-size: 12px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 830, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .percent {
    padding: 0 10px;
  }
}
/* line 837, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .star-list {
  margin-top: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 837, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .star-list {
    padding: 0 10px;
  }
}
/* line 842, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .star-list ul {
  float: left;
  padding: 0;
  margin: 0;
}
/* line 846, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .star-list ul li {
  list-style: none;
  display: inline-block;
}
/* line 851, ../sass/print.scss */
#wrapper #content-wrapper .product-wrapper .product-column .block a .star-list .review {
  float: left;
  margin-left: 10px;
  margin-top: 2px;
  font-size: 10px;
  color: #999;
}
@media screen and (max-width: 768px) {
  /* line 851, ../sass/print.scss */
  #wrapper #content-wrapper .product-wrapper .product-column .block a .star-list .review {
    margin-left: 0;
  }
}
/* line 866, ../sass/print.scss */
#wrapper #content-wrapper #banner-ads {
  padding: 50px 0;
  background: #f5f5f5;
}
/* line 870, ../sass/print.scss */
#wrapper #content-wrapper #banner-ads .banner img {
  object-fit: cover;
  width: 100%;
}
/* line 876, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper {
  margin: 50px 0;
}
/* line 878, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper h3 {
  font-weight: bold;
  color: #333;
}
/* line 883, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category ul {
  padding: 0;
  margin: 0;
}
/* line 886, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category ul li {
  list-style: none;
  padding: 3px;
  position: relative;
  z-index: 9;
}
/* line 891, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category ul li a {
  display: block;
}
/* line 893, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category ul li a img {
  width: 100%;
}
@media screen and (max-width: 480px) {
  /* line 896, ../sass/print.scss */
  #wrapper #content-wrapper .top-category-wrapper .list-category ul li a .list-block {
    margin-bottom: 20px;
  }
}
/* line 900, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category ul li a .list-block ul {
  background: #fff;
  padding: 0;
  margin: 0;
}
/* line 904, ../sass/print.scss */
#wrapper #content-wrapper .top-category-wrapper .list-category ul li a .list-block ul li {
  list-style: none;
  display: inline-block;
  width: 24%;
  padding: 0;
}
@media screen and (max-width: 768px) {
  /* line 904, ../sass/print.scss */
  #wrapper #content-wrapper .top-category-wrapper .list-category ul li a .list-block ul li {
    width: 23%;
  }
}
/* line 920, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper {
  padding: 50px 0;
}
/* line 922, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper h3 {
  font-weight: bold;
  color: #333;
}
/* line 928, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block {
  width: 16.66666667%;
  height: 282px;
  margin-bottom: 20px;
  border-right: none;
}
@media screen and (min-width: 768px) {
  /* line 928, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block {
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 928, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block {
    width: 50%;
    padding: 0;
  }
}
/* line 940, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a {
  height: 100%;
  position: relative;
  z-index: 9;
  padding: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 940, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a {
    padding: 0;
  }
}
/* line 948, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .img {
  min-height: 140px;
}
@media screen and (max-width: 768px) {
  /* line 948, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .img {
    min-height: 50px;
  }
  /* line 952, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .img img {
    width: 100%;
  }
}
/* line 956, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .img img {
  width: 100%;
}
/* line 961, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .star-list ul {
  width: 45%;
}
@media screen and (max-width: 768px) {
  /* line 961, ../sass/print.scss */
  #wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .star-list ul {
    width: 100%;
  }
}
/* line 966, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .product-column .block a .star-list ul li {
  margin-right: -5px;
}
/* line 974, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .seemore {
  text-align: center;
  text-transform: capitalize;
  margin: 20px 0;
}
/* line 978, ../sass/print.scss */
#wrapper #content-wrapper .top-pilihan-wrapper .product-wrapper .seemore a {
  border: 1px solid #199cb7;
  padding: 10px 20px;
  display: inline-block;
  color: #199cb7;
}
/* line 989, ../sass/print.scss */
#wrapper #footer-wrapper {
  border-bottom: 1px solid #cfcfcf;
}
@media screen and (max-width: 480px) {
  /* line 989, ../sass/print.scss */
  #wrapper #footer-wrapper {
    background: #fff;
  }
}
/* line 994, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper {
  padding: 50px 0;
}
/* line 996, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block {
  text-align: center;
}
@media screen and (max-width: 480px) {
  /* line 996, ../sass/print.scss */
  #wrapper #footer-wrapper .before-footer-wrapper .block {
    height: 150px;
    margin-bottom: 20px;
  }
}
/* line 1002, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block:last-child {
  background: none;
}
/* line 1005, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block .img {
  display: inline-block;
  margin-bottom: 10px;
}
/* line 1009, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block .title {
  color: #333;
  font-weight: bold;
  margin-bottom: 5px;
}
@media screen and (max-width: 568px) {
  /* line 1009, ../sass/print.scss */
  #wrapper #footer-wrapper .before-footer-wrapper .block .title {
    line-height: normal;
  }
}
/* line 1017, ../sass/print.scss */
#wrapper #footer-wrapper .before-footer-wrapper .block .desc {
  color: #999;
}
@media screen and (max-width: 768px) {
  /* line 1017, ../sass/print.scss */
  #wrapper #footer-wrapper .before-footer-wrapper .block .desc {
    font-size: 12px;
    line-height: normal;
  }
}
/* line 1026, ../sass/print.scss */
#wrapper #footer-wrapper .footer {
  background: #fafafa;
  color: #999;
  padding: 50px 0;
  border-top: 1px solid #cfcfcf;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 1026, ../sass/print.scss */
  #wrapper #footer-wrapper .footer {
    font-size: 12px;
  }
}
/* line 1034, ../sass/print.scss */
#wrapper #footer-wrapper .footer .title {
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #666;
  margin-bottom: 10px;
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  /* line 1034, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .title {
    width: 50%;
    font-size: 18px;
    margin-top: 20px;
  }
}
/* line 1047, ../sass/print.scss */
#wrapper #footer-wrapper .footer .logo img {
  width: 100%;
}
/* line 1051, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address {
  margin-top: 35px;
}
@media screen and (max-width: 480px) {
  /* line 1051, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .list-address {
    margin-top: 20px;
  }
}
/* line 1056, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul {
  padding: 0;
  margin: 0;
}
/* line 1059, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul li {
  list-style: none;
  margin-bottom: 10px;
  padding-left: 25px;
}
/* line 1063, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul li:nth-child(1) {
  background: url(../img/footer-maps.png) no-repeat left;
}
/* line 1066, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul li:nth-child(2) {
  background: url(../img/footer-phone.png) no-repeat left;
}
/* line 1069, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-address ul li:nth-child(3) {
  background: url(../img/footer-mail.png) no-repeat left;
}
/* line 1075, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-menus {
  margin-top: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 1075, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .list-menus {
    margin-top: 0;
  }
}
/* line 1080, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-menus ul {
  padding: 0;
  margin: 0;
}
/* line 1083, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-menus ul li {
  list-style: none;
  margin: 10px 0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 1083, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .list-menus ul li {
    margin: 0;
  }
}
/* line 1089, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-menus ul li a {
  color: #999;
}
/* line 1095, ../sass/print.scss */
#wrapper #footer-wrapper .footer .img-wrap {
  padding-right: 0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 1098, ../sass/print.scss */
  #wrapper #footer-wrapper .footer .img-wrap .img img {
    width: 100%;
  }
}
/* line 1106, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-blog .blog {
  border-bottom: 1px solid #333;
  padding: 15px 0;
}
/* line 1109, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-blog .blog:last-child {
  border: none;
}
/* line 1112, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-blog .blog a {
  color: #999;
}
/* line 1115, ../sass/print.scss */
#wrapper #footer-wrapper .footer .list-blog .blog .titleblog {
  line-height: normal;
}
/* line 1123, ../sass/print.scss */
#wrapper #bottom {
  background: #fafafa;
  text-align: center;
  padding: 30px 0;
  color: #999999;
  font-size: 16px;
}
/* line 1129, ../sass/print.scss */
#wrapper #bottom .red {
  color: #d71149;
}
